@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&family=Lobster&family=Montserrat:ital,wght@0,700;1,600;1,900&family=Nanum+Pen+Script&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,800;1,400;1,600;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    font-size: 16px;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.card-body{
    width: 100%;
    position: relative;
    color:#005b8e;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.122) ;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;        
    left: 48%;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
} 
    

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

